@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

.primarioCollor {
  color: #036B52;
}

.primarioBorderCollor {
  border-color: #036B52;
}

.primarioBackground {
  background-color: #036B52;
}

.secundarioCollor {
  color: #2FC18C;
}

.secundarioBackground {
  background-color: #2FC18C;
}

.terciarioCollor {
  color:  #421981;
}

.terciarioBackground {
  background-color: #421981;
}

.quaternarioCollor {
  color: #056CF9;
}

.quaternarioBackground {
  background-color: #056CF9;
}

.colorTextLight {
  color: #F2FFFC;
}

.backGroundTextLight {
  background-color: #F2FFFC;
}

.ColorTextDark {
  color: #001813;
}

.backGroundGrey {
  background-color:#BED8E8;
  } 

.backGroundGreyLogin {
  background-color:#EAF1EF;
  }

.backgroundOrange {
  background-color: #CCB800;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

img {
  height: 100%;
  width: 100%;
}